useDynLib(pharmflux, .registration = TRUE)
export(compile_model)
export(simulate_model)
export(fit_model)
export(scan_model)
export(morris_model)
export(result_data_frame)
export(nonmem_requests)
export(simulate_data)
export(fit_data_requests)
export(fit_data)
export(fit_parameter_data_frame)
export(fit_observation_data_frame)
export(population_fit_data_requests)
export(fit_population_data)
export(population_fit_subject_data_frame)
export(population_fit_observation_data_frame)
